Outlook/Check if Meeting Clashes With Lunch/Microsoft.Flow/flows/04e61882-79fa-4668-803e-b26699ee94ab/definition.json
{"name":"48d115e6-4a29-414f-9649-baf73a9d11ce","id":"/providers/Microsoft.Flow/flows/48d115e6-4a29-414f-9649-baf73a9d11ce","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Outlook - Check if Conflicts with Lunch","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"bc9b2c30-f572-4c08-848c-5b610d19d918","type":"User","tenantId":"93ae279c-fe6d-4b8e-a851-aa4463187a47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-02-11T12:05:44.2467528Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"7c94f170-e23b-4daf-a43a-45c49c619de3"},"type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarGetOnChangedItemsV3"},"parameters":{"table":"AAMkADFmNmZkZDgyLWJmYzctNGI1Mi04YTM3LTQ0OTAwZjI5NDg2MABGAAAAAABEx8r0d0KLT5HwlNDHZMznBwBvo3hxj5iHS7nzuFP6_9VyAAAAAAEGAABvo3hxj5iHS7nzuFP6_9VyAAACq97NAAA=","incomingDays":300,"pastDays":50},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Event_Deteletd":{"actions":{"Get_calendar_view_of_events_(V3)":{"runAfter":{"Get_event_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"1998a542-e971-4e36-92d0-570bbcd3ffba"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEventsCalendarViewV3"},"parameters":{"calendarId":"AAMkADFmNmZkZDgyLWJmYzctNGI1Mi04YTM3LTQ0OTAwZjI5NDg2MABGAAAAAABEx8r0d0KLT5HwlNDHZMznBwBvo3hxj5iHS7nzuFP6_9VyAAAAAAEGAABvo3hxj5iHS7nzuFP6_9VyAAACq97NAAA=","startDateTimeUtc":"@addMinutes(triggerOutputs()?['body/start'],1)","endDateTimeUtc":"@addMinutes(triggerOutputs()?['body/end'],-1)","search":"Lunch"},"authentication":"@parameters('$authentication')"}},"Check_if_lunch_exists_at_this_time":{"actions":{"Respond_to_an_event_invite_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"0f89f3d9-eccb-4926-8a5f-07a02cf7925f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"RespondToEvent_V2"},"parameters":{"event_id":"@triggerOutputs()?['body/id']","response":"decline","body/Comment":"You have tried to schedule an event during my lunch hours, please reschedule else I will not be in attendance.","body/SendResponse":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_calendar_view_of_events_(V3)":["Succeeded"]},"expression":{"equals":["@length(outputs('Get_calendar_view_of_events_(V3)')?['body/value'])",1]},"metadata":{"operationMetadataId":"ff894bfb-eb9f-4b2e-ad59-bc0df570fe67"},"type":"If"},"Get_event_(V3)":{"runAfter":{},"metadata":{"operationMetadataId":"cd66ec51-a995-4815-9609-1855bbafbe67"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V3CalendarGetItem"},"parameters":{"table":"AAMkADFmNmZkZDgyLWJmYzctNGI1Mi04YTM3LTQ0OTAwZjI5NDg2MABGAAAAAABEx8r0d0KLT5HwlNDHZMznBwBvo3hxj5iHS7nzuFP6_9VyAAAAAAEGAABvo3hxj5iHS7nzuFP6_9VyAAACq97NAAA=","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()?['body/ActionType']","deleted"]}},"metadata":{"operationMetadataId":"d7a27d47-96b6-4186-9a61-c9305f91f750"},"type":"If"},"Terminate":{"runAfter":{"Check_if_Event_Deteletd":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"04a354d5-3de5-447a-8f7c-77da0e696abc"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"f9d0a76b-ca10-4699-a7d7-c424bbd9f95c"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}},"outputs":{}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-c8abcb91-e34c-454b-97d1-546648006876","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}