Bluesky/Workflows/BlueskyPosttextonly-2C02C102-40A1-EF11-8A6A-6045BD0FB17C.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "description": "Replace this trigger with however you will be triggering this flow",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Enter the text to post to Bluesky",
                  "title": "MessageToPost",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "PostMessage": {
          "type": "Compose",
          "description": "You can use this step to store the message you want to post from the trigger. Therefore you don't need to edit the subsequent steps",
          "inputs": "@triggerBody()?['text']",
          "runAfter": {}
        },
        "HTTP_-_Create_Bearer_Token": {
          "type": "Http",
          "description": "Replace the identifier with the username of the account and the password with the app password.",
          "inputs": {
            "uri": "https://bsky.social/xrpc/com.atproto.server.createSession",
            "method": "POST",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "identifier": "TestUser.bsky.social",
              "password": "asnd-slri-fask-fems"
            }
          },
          "runAfter": {
            "PostMessage": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Parse_JSON_-_Bearer": {
          "type": "ParseJson",
          "description": "This gets data from the bearer response we can use for the post.",
          "inputs": {
            "content": "@body('HTTP_-_Create_Bearer_Token')",
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "type": "string"
                },
                "didDoc": {
                  "type": "object",
                  "properties": {
                    "@@context": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "alsoKnownAs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "verificationMethod": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "controller": {
                            "type": "string"
                          },
                          "publicKeyMultibase": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "controller",
                          "publicKeyMultibase"
                        ]
                      }
                    },
                    "service": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "serviceEndpoint": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "serviceEndpoint"
                        ]
                      }
                    }
                  }
                },
                "handle": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "emailConfirmed": {
                  "type": "boolean"
                },
                "emailAuthFactor": {
                  "type": "boolean"
                },
                "accessJwt": {
                  "type": "string"
                },
                "refreshJwt": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          },
          "runAfter": {
            "HTTP_-_Create_Bearer_Token": [
              "Succeeded"
            ]
          }
        },
        "HTTP_-_Post_to_Bluesky": {
          "type": "Http",
          "description": "This action posts to Bluesky.",
          "inputs": {
            "uri": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
            "method": "POST",
            "headers": {
              "Content-Type": "application/json",
              "Authorization": "Bearer @{body('Parse_JSON_-_Bearer')?['accessJwt']}"
            },
            "body": {
              "collection": "app.bsky.feed.post",
              "repo": "@{body('Parse_JSON_-_Bearer')?['did']}",
              "record": {
                "$type": "app.bsky.feed.post",
                "text": "@{outputs('PostMessage')}",
                "createdAt": "@{utcNow()}"
              }
            }
          },
          "runAfter": {
            "Parse_JSON_-_Bearer": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}